.post-header h1 {
 -webkit-box-shadow: rgb(51, 51, 51) 15px 0px 0px 0px, rgb(51, 51, 51) -15px 0px 0px 0px;
 background-color: rgb(51, 51, 51);
 box-shadow: rgb(51, 51, 51) 15px 0px 0px 0px, rgb(51, 51, 51) -15px 0px 0px 0px;
 color: rgb(255, 255, 255);

 font-size: 3.3em;
 line-height: 1.6em;
 font-weight: 400;

 padding: 0.1em;
 margin-bottom: 29.1240005493164px;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 0px;

 display: inline;
 position: relative;
 right: -15px;
}

blockquote {
  color: #666;
  background-color: #fbfbfb;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 2em;
  border: 1px solid #f0f0f0;
}

a.post-title {
  font-size: 1.8em;
  color: #222;
  line-height: 1.4em;
}

.post-title:hover {
  color: #0181eb;
  transition: color 0.3s;
  text-decoration: underline;
}

.posts article {
  padding-top: 1em;
  padding-left: 6em;
  margin-left: 1em;
  margin-bottom: 1em;
  position: relative;
}

.posts article.bordered {
  border-top: rgb(255, 237, 237) dotted;
}

.year {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1em;
  color: rgb(170, 170, 170);
}

time {
  text-transform: uppercase;
  position: absolute;
  text-align: right;
  left: 0em;
  top: 1.2em;
  line-height: 2.2em;
  color: rgb(170, 170, 170);
}

@media (max-width: 500px) {
  h1 {
   font-size: 1.75em;
  }
  a.post-title {
    font-size: 1em;
    line-height: 1.2em;
  }
}